<div id="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Nova entrada futura</mat-card-title>
        </mat-card-header>
        <form (submit)="newExpense()">

            <mat-card-content>
                <mat-form-field>
                    <mat-label>Data da entrada</mat-label>
                    <input matInput [matDatepicker]="picker" type="text" [(ngModel)]="dateInput" name="dateInput"
                        required>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Descrição</mat-label>
                    <input matInput type="text" [(ngModel)]="descriptionInput" name="descriptionInput"
                        id="descriptionInput">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Pagador</mat-label>
                    <input matInput type="text" [(ngModel)]="payerInput" name="payerInput">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Valor (R$)</mat-label>
                    <input matInput type="number" [(ngModel)]="valueInput" name="valueInput">
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button type="submit">Lançar</button>
            </mat-card-actions>
        </form>
    </mat-card>

    <app-entries-launches-table></app-entries-launches-table>
</div>