main {
    padding: 0 20px;
    max-width: 1000px;
    margin: auto;
}

.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected {
    --mdc-chip-elevated-container-color: #387876;
}

mat-chip-listbox {
    padding-bottom: 10px;
}

@media (max-width: 600px) {}