<main>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link routerLink="account-balances" [active]="accountBalancesChecked">
            Saldos
        </a>
        <a mat-tab-link routerLink="monthly-budget" [active]="monthlyBudgetChecked">
            <div matBadge="!" matBadgeColor="warn" matBadgeOverlap="false" [matBadgeHidden]="!alert">
                Orçamento
            </div>
        </a>
        <a mat-tab-link routerLink="launches" [active]="launchesChecked">
            Lançamentos
        </a>
        <!-- <a mat-tab-link routerLink="reports" [active]="reportsChecked">
            Relatórios
        </a>
        <a mat-tab-link routerLink="cash-flow" [active]="cashFlowChecked">
            Fluxo de caixa
        </a> -->
    </nav>
    <mat-divider></mat-divider>
    <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
    </mat-tab-nav-panel>
</main>