<main>
    <mat-button-toggle-group>
        <mat-button-toggle routerLink="account-balances" [checked]="accountBalancesChecked">
            Saldos
        </mat-button-toggle>
        <mat-button-toggle routerLink="monthly-budget" [checked]="monthlyBudgetChecked">
            Orçamento
        </mat-button-toggle>
        <mat-button-toggle routerLink="launches" [checked]="launchesChecked">
            Lançamentos
        </mat-button-toggle>
        <mat-button-toggle routerLink="reports" [checked]="reportsChecked">
            Relatórios
        </mat-button-toggle>
        <mat-button-toggle routerLink="cash-flow" [checked]="cashFlowChecked">
            Fluxo de caixa
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-divider></mat-divider>
    <router-outlet></router-outlet>
</main>