main {
    display: flex;
}

#container-general {
    display: flex;
    margin: 20px auto;
    height: 95%;
    flex-direction: row;
    align-items: flex-start;
}

.container-tables {
    margin-right: 100px;
    align-self: flex-start;
    width: 300px;
}