main {
    display: flex;
}

#container-general {
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    align-items: flex-start;
}

h4 {
    text-align: center;
}

#th-cash-text {
    text-align: center;
}

table {
    width: 150px;
}

.container-tables {
    margin: 0 50px;
    align-self: flex-start;
    width: 380px;
}

@media (max-width: 600px) {
    main {
        justify-content: center;
    }

    #container-general {
        display: flex;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .container-tables {
        margin: 0 0 40px 0;
        align-self: auto;
    }

    #container-cash {
        display: none;
    }
}