main {
    display: flex;
}

#container-general {
    display: flex;
    margin: 20px auto;
    height: 95%;
    flex-direction: row;
    align-items: flex-start;
}

h4 {
    text-align: center;
}

#th-cash-text {
    text-align: center;
}

table {
    width: 150px;
}

.container-tables {
    margin: 0 50px;
    align-self: flex-start;
    width: 350px;
}