<main>
    
    <mat-toolbar>
        <img src="../../../assets/ElenchosLogotipoBranco.png" alt="Elenchos Logotipo">
    </mat-toolbar>


    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="text" [(ngModel)]="email" required>
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button id="btnEnter" mat-raised-button (click)="login()">Entrar</button>

            <div id="containerBelow">
                <div class="itensBelow">
                    <button mat-button routerLink="/signup">
                        <mat-icon>add</mat-icon>
                        Criar novo usuário
                    </button>
                </div>
                <div class="itensBelow">
                    <mat-slide-toggle color="primary" [(ngModel)]="remember">Lembrar</mat-slide-toggle>
                </div>
            </div>

        </mat-card-content>
    </mat-card>

</main>