<main>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link routerLink="fuel" [active]="fuelChecked">
            Combustível
        </a>
        <a mat-tab-link routerLink="coin" [active]="coinChecked">
            Câmbio
        </a>
        <a mat-tab-link routerLink="rule-of-three" [active]="ruleOfThreeChecked">
            Regra de três
        </a>
    </nav>
    <mat-divider></mat-divider>
    <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
    </mat-tab-nav-panel>
</main>