<div>
    <h4>Contas</h4>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by account">
            Conta
        </th>
        <td mat-cell *matCellDef="let element"> {{element.account}} </td>
        <td mat-footer-cell class="tfoot" *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="valueBalance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valueBalance">
            Valor
        </th>
        <td mat-cell class="values" *matCellDef="let element">
            <div id="container-values">
                <p class="value-RS">R$</p>
                <p class="value-real">{{ this._numberFormat.inPortToDuo(element.valueBalance) }}</p>
            </div>
        </td>
        <td mat-footer-cell class="values tfoot" *matFooterCellDef>
            <div id="container-values">
                <p class="value-RS">R$</p>
                <p class="value-real">{{getTotalValue()}}</p>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="itens">
        <th mat-header-cell *matHeaderCellDef>
            <div id="container-btns">
                <button mat-icon-button matTooltip="Adicione uma conta bancária" matTooltipPosition="above"
                    (click)="openModalNewBalance()">
                    <mat-icon>add_box</mat-icon>
                </button>
            </div>
        </th>
        <td mat-cell *matCellDef="let element">
            <div id="container-btns">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openModalEditBalance(element)">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>
                <button mat-menu-item (click)="openModalDeleteBalance(element)">
                    <mat-icon color="warn">delete</mat-icon>
                    <span>Apagar</span>
                </button>
            </mat-menu>

        </td>
        <td mat-footer-cell class="tfoot" *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
            Adicione uma nova conta bancária no "+" acima.
        </td>
    </tr>
</table>