mat-card {
    margin: auto;
    margin-top: 20px;
    width: 475px;
}

#inputs-container {
    margin: 15px;
}

#line-button-change {
    position: absolute;
    margin: -21.52px 297px;
}

#line-button-change button mat-icon {
    margin-left: 9px;
}

#result {
    background-color: #f3f3f3;
    border-bottom: 1px solid #7b7b7b;
    width: 211px;
    height: 55px;
    display: inline-block;
    position: relative;
    top: 15px;
    margin-right: 10px;

    color: rgba(0, 0, 0, 0.87);
}

mat-form-field {
    margin-right: 10px;
}

mat-card-content {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.delete-button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.delete-button mat-icon {
    position: absolute;
    right: -8px;
    top: 26%;
    font-size: 20px;
}

#titles {
    width: 65%;
}

#result p {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 20px;
    font-size: 1rem;
}

@media (max-width: 600px) {
    mat-card {
        width: 90%;
    }

    mat-form-field,
    #result {
        width: 46%;
    }

    #line-button-change {
        margin: -21.52px 199px;
    }
}