mat-card {
    margin: auto;
    margin-top: 20px;
    width: 475px;
}

form {
    margin: 15px;
}

mat-form-field {
    margin-right: 10px;
}

mat-card-content {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 15px;
}

#titles {
    width: 65%;
}

#new-quotation {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#result {
    background-color: #f3f3f3;
    border-bottom: 1px solid #7b7b7b;
    width: 211px;
    height: 55px;
    display: inline-block;
    position: relative;
    top: 15px;
}

#result p {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 20px;
    font-size: 1rem;
}

#secondLine {
    margin-top: -20px;
}