mat-card {
    margin: auto;
    margin-top: 20px;
    width: 510px;
}

form {
    margin: 15px;
}

mat-form-field {
    margin-right: 10px;
    width: 230px;
}

mat-card-content {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 15px;
}

#secondLine {
    margin-top: -5px;
}

@media (max-width: 600px) {
    mat-card {
        width: 90%;
    }

    mat-form-field {
        width: 100%;
    }
}