<mat-card>
    <mat-card-header>
        <mat-card-title>Cálculo Combustível</mat-card-title>
        <mat-card-subtitle>Preencha com os dados necessários:</mat-card-subtitle>
    </mat-card-header>

    <form (ngSubmit)="calculate()">
        <mat-form-field id="km-l">
            <mat-label>Economia do carro (Km/L)</mat-label>
            <input matInput type="number" name="economy" [(ngModel)]="economy" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Valor Combustível</mat-label>
            <span matPrefix> R$ &nbsp;</span>
            <input matInput type="number" name="fuel" [(ngModel)]="fuel" required>
        </mat-form-field>

        <div id="secondLine">
            <mat-form-field>
                <mat-label>Km a percorrer</mat-label>
                <input matInput type="number" name="km" [(ngModel)]="km" required>
            </mat-form-field>

            {{result}}
        </div>
        <mat-card-actions align="end">
            <button mat-raised-button type="submit">CALCULAR</button>
        </mat-card-actions>
    </form>
</mat-card>