<mat-toolbar>
    <img src="../../../assets/ElenchosLogotipoBranco.png" alt="Elenchos Logotipo">

    <div id="container-infos">
        <mat-card id="cash-card">
            <mat-card-content>Caixa: R${{internalCash}}</mat-card-content>
        </mat-card>
    </div>

    <div id="container-user">
        <div id="container-username">
            <h3>{{userName}}</h3>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="login-settings">
                <mat-icon>settings</mat-icon>
                Conta
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                Sair
            </button>
        </mat-menu>
    </div>

</mat-toolbar>