<mat-toolbar>
    <img src="../../../assets/ElenchosLogotipoBranco.png" id="logotipo" alt="Elenchos">
    <img src="../../../assets/ElenchosLogoBranco.png" id="logo" alt="Elenchos">

    <div id="container-infos">
        <mat-icon matBadge="15" matBadgeColor="warn"
            matTooltip="Valor do caixa não está confiável: inconsistências em Orçamento - categoria com valor negativo."
            [style.display]="alert ? 'inline-block' : 'none'">
            warning
        </mat-icon>
        <mat-card id="cash-card">
            <a routerLink="budget/account-balances">
                <mat-card-content [ngStyle]="{'color': internalCash < 0 ? 'red' : '#387876'}">
                    Caixa: R$ {{_numberFormat.inPortToDuo(internalCash)}}
                </mat-card-content>
            </a>
        </mat-card>
    </div>

    <div id="container-user">
        <div id="container-username">
            <h3>{{userName}}</h3>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="login-settings">
                <mat-icon>settings</mat-icon>
                Conta
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                Sair
            </button>
        </mat-menu>
    </div>

</mat-toolbar>