mat-toolbar {
    background-color: #387876;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

#cash-card{
    color: #387876;
    font-size: 1rem;
    height: 40px;
}

#cash-card mat-card-content{
    padding: 5px 10px;
}

#container-user{
    display: flex;
    align-items: center;
}

#container-username {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 5px;
}

#container-username h3 {
    margin: 0;
}

img {
    height: 70%;
}