<div id="container">
    <button mat-icon-button matTooltipPosition="right" matTooltip="Dashboard" routerLink="dashboard">
        <mat-icon>dashboard</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="right" matTooltip="Orçamento familiar" routerLink="budget">
        <mat-icon>diversity_3</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="right" matTooltip="Investimentos" routerLink="invest">
        <mat-icon>attach_money</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="right" matTooltip="Orçamento de viagem" routerLink="travel">
        <mat-icon>flight</mat-icon>
    </button>
    <button mat-icon-button matTooltipPosition="right" matTooltip="Ferramentas financeiras" routerLink="tools">
        <mat-icon>construction</mat-icon>
    </button>
</div>