<div id="container">
    <mat-button-toggle-group>
        <mat-button-toggle [checked]="true">
            <mat-icon routerLink="dashboard">dashboard</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle>
            <mat-icon routerLink="budget">attach_money</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle>
            <mat-icon routerLink="invest">trending_up</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle>
            <mat-icon routerLink="travel">flight</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle>
            <mat-icon routerLink="tools">construction</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>