<div id="container">
    <mat-button-toggle-group>
        <mat-button-toggle [checked]="dashboardChecked" routerLink="dashboard">
            <mat-icon>dashboard</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [checked]="budgetChecked" routerLink="budget">
            <mat-icon>attach_money</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [checked]="investChecked" routerLink="invest">
            <mat-icon>trending_up</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [checked]="travelChecked" routerLink="travel">
            <mat-icon>flight</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [checked]="toolsChecked" routerLink="tools">
            <mat-icon>construction</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>