html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
    background-color: rgb(255 255 255 / 25%);
}

.mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: #60CCC8;
}

.mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #387876;
}

.mdc-text-field--focused:not(.mdc-text-field--disable) .mdc-floating-label {
    color: #387876;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: #387876;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: #387876;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
    color: rgb(255 255 255 / 87%);
}

.mat-button-toggle-checked {
    background-color: #387876;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
    border-radius: 15px 15px 0 0 !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 35px;
}

.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    color: #387876;
}

.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
    border-color: #387876;
}

.mat-sort-header-container {
    justify-content: center !important;
}