main {
    width: 92.1vw;
}

mat-card {
    margin: 20px auto;
    max-width: 500px;
}

mat-form-field {
    width: 224px;
    margin: 5px;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

#btn-delete {
    margin-right: auto;
}

@media(max-width: 550px) {

    mat-card {
        margin: 5px;
        width: 84.5vw;
    }

    mat-form-field {
        width: 100%;
    }
}