mat-card {
    margin: 20px auto;
    max-width: 500px;
}

mat-form-field {
    width: 224px;
    margin: 5px;
}

#container-password-fields {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#password-confirm-field {
    width: 260px;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
}

mat-card-actions button {
    padding: 0 13px;
}

@media(max-width: 600px) {
    mat-card {
        margin: 5px auto;
        width: 90%;
    }

    mat-form-field {
        width: 100%;
    }
}