<main>
    <mat-card>
        <mat-card-content>
            <mat-card-header>
                <mat-card-title>Configurações de perfil</mat-card-title>
                <mat-card-subtitle>Dados de seu perfil:</mat-card-subtitle>
            </mat-card-header>

            <form>
                <mat-form-field>
                    <mat-label>Primeiro nome</mat-label>
                    <input matInput type="text" name="firstName" [(ngModel)]="firstName" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Sobrenome(s)</mat-label>
                    <input matInput type="text" name="surname" [(ngModel)]="surname" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="text" name="email" [(ngModel)]="email" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput type="text" name="phone" [(ngModel)]="phone">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input matInput type="text" name="password" [(ngModel)]="password" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Confirme sua nova senha</mat-label>
                    <input matInput type="text" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                </mat-form-field>
            </form>

            <mat-card-actions>
                <button mat-stroked-button id="btn-delete" color="warn" (click)="openModal()">
                    <mat-icon>delete_forever</mat-icon>
                    Excluir conta
                </button>
                <button mat-stroked-button (click)="editAccount()">
                    <mat-icon>edit</mat-icon>
                    Editar conta
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</main>