<div class="container-title">
    <h4>Fonte de Gastos</h4>
    <button mat-button>
        <mat-icon>add_box</mat-icon>
    </button>
</div>


<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
            Descrição
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        <td mat-footer-cell class="tfoot" *matFooterCellDef> Total </td>
    </ng-container>`

    <ng-container matColumnDef="valueExpense">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by valueExpense">
            Valor
        </th>
        <td mat-cell class="values" *matCellDef="let element">
            <p class="value-RS">R$</p>
            <p class="value-real">{{ this._numberFormat.inPortToDuo(element.valueExpense)}}</p>
        </td>
        <td mat-footer-cell class="values tfoot" *matFooterCellDef>
            <p class="value-RS">R$</p>
            <p class="value-real">{{getTotalValue()}}</p>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true;"></tr>
</table>