.ng-tns-c61-4 {
    display: flex;
    justify-content: flex-end;
    padding: 17px;
}

h4 {
    text-align: center;
}

th.mat-sort-header-sorted {
    color: black;
}

th mat-icon {
    font-size: 1.1rem;
    display: grid;
    place-items: center;
}

.container-title button mat-icon {
    margin: auto;
}

.values {
    width: 110px;
}

#container-values {
    display: flex;
    justify-content: space-between;
}

.value-real {
    padding: 20px 0;
    margin-bottom: 0;
}

.value-RS {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-bottom: 0;
}

.mat-cell {
    padding: 20px;
}

.tfoot {
    font-weight: 550;
    border-top: 1px solid #d6d6d6;
}